In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"E:\CSV File\Panda2.csv")

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df.shape

(6, 4)

In [9]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [17]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [16]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [20]:
#to print only necessary column
df[['windspeed','event']]

   windspeed  event
0          6   Rain
1          7  Sunny
2          2   Snow
3          7   Snow
4          4   Rain
5          2  Sunny

In [22]:
#to print max temp in dataset
df['temperature'].max()

np.int64(35)

In [23]:
df['temperature'].mean()

np.float64(30.333333333333332)

In [24]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000