In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice2').getOrCreate()

In [3]:
spark

In [7]:
df_spark = spark.read.option('header','true').csv(r"E:\CSV File\pyspark3.csv")

In [8]:
df_spark.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|krish| 43|        21|
|tyson| 12|         0|
|tonny| 67|        45|
+-----+---+----------+

In [10]:
df_spark = spark.read.csv(r"E:\CSV File\pyspark3.csv",header = True,inferSchema = True)
df_spark.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|krish| 43|        21|
|tyson| 12|         0|
|tonny| 67|        45|
+-----+---+----------+

In [11]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_spark.columns

['Name', 'age', 'Experience']

In [14]:
df_spark.head(3)

[Row(Name='krish', age=43, Experience=21),
 Row(Name='tyson', age=12, Experience=0),
 Row(Name='tonny', age=67, Experience=45)]

In [15]:
df_spark.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|krish| 43|        21|
|tyson| 12|         0|
|tonny| 67|        45|
+-----+---+----------+

selcting particular columns

In [17]:
df_spark.select('Name')

DataFrame[Name: string]

In [18]:
df_spark.select('Name').show()

+-----+
| Name|
+-----+
|krish|
|tyson|
|tonny|
+-----+

In [20]:
df_spark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|krish|        21|
|tyson|         0|
|tonny|        45|
+-----+----------+

In [22]:
df_spark = df_spark.withColumn("exp after 2 years",df_spark['Experience']+2)

In [23]:
df_spark.show()

+-----+---+----------+-----------------+
| Name|age|Experience|exp after 2 years|
+-----+---+----------+-----------------+
|krish| 43|        21|               23|
|tyson| 12|         0|                2|
|tonny| 67|        45|               47|
+-----+---+----------+-----------------+

droping columns

In [24]:
df_spark = df_spark.drop('exp after 2 years')

In [25]:
df_spark.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|krish| 43|        21|
|tyson| 12|         0|
|tonny| 67|        45|
+-----+---+----------+

In [26]:
df_spark = df_spark.withColumnRenamed('Name','New Name')

In [27]:
df_spark.show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
|   krish| 43|        21|
|   tyson| 12|         0|
|   tonny| 67|        45|
+--------+---+----------+