In [2]:

from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("Example") \
    .getOrCreate()

In [7]:
df = spark.range(start =1 ,end =20)
df.show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+

In [17]:
df1 = df.sample(fraction = 0.2)
df1.show()

+---+
| id|
+---+
|  3|
| 12|
| 13|
| 16|
+---+

In [22]:
df2 = df.sample(fraction = 0.2,seed =1)

df2.show()

+---+
| id|
+---+
|  6|
|  7|
|  8|
| 15|
| 16|
| 17|
+---+

In [21]:
df3 = df.sample(fraction = 0.2,seed =1)
df3.show()

+---+
| id|
+---+
|  6|
|  7|
|  8|
| 15|
| 16|
| 17|
+---+

In [24]:
#select
data = [(1, 'Maheer', 'male', 1000, None), (2, 'Asi', 'Female', 2000, 'IT')]
schema = ['id', 'name', 'gender', 'salary', 'dep']


f = spark.createDataFrame(data, schema)
f.show()

+---+------+------+------+----+
| id|  name|gender|salary| dep|
+---+------+------+------+----+
|  1|Maheer|  male|  1000|NULL|
|  2|   Asi|Female|  2000|  IT|
+---+------+------+------+----+

In [25]:
df1 = f.select('gender')
df1.show()

+------+
|gender|
+------+
|  male|
|Female|
+------+

In [26]:
#collect
list_row = f.collect()
print(list_row)

[Row(id=1, name='Maheer', gender='male', salary=1000, dep=None), Row(id=2, name='Asi', gender='Female', salary=2000, dep='IT')]

In [27]:
print(list_row[0])

Row(id=1, name='Maheer', gender='male', salary=1000, dep=None)

In [28]:
print(list_row[0][1])

Maheer

In [29]:
data = [(1, 'maheer', 2000), (2, 'wafa', 3000)]

schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)

In [30]:
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|maheer|  2000|
|  2|  wafa|  3000|
+---+------+------+

In [34]:
#transform
from pyspark.sql.functions import col, transform
data = [(1, [1, 2, 3]), (2, [4, 5, 6]), (3, [7, 8, 9])]
schema = ['id', 'numbers']
df = spark.createDataFrame(data, schema)

# Use transform() to increment each element by 1
df_transformed = df.withColumn("updated_numbers", transform(col("numbers"), lambda x: x + 1))

df_transformed.show()

+---+---------+---------------+
| id|  numbers|updated_numbers|
+---+---------+---------------+
|  1|[1, 2, 3]|      [2, 3, 4]|
|  2|[4, 5, 6]|      [5, 6, 7]|
|  3|[7, 8, 9]|     [8, 9, 10]|
+---+---------+---------------+

In [11]:
#UDF
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("Example") \
    .getOrCreate()

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf
from pyspark.sql.types import IntegerType

In [5]:
data = [(1, 'maheer', 2000, 500), (2, 'wafa', 4000, 1000)]
schema = ['id', 'name', 'salary', 'bonus']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+-----+
| id|  name|salary|bonus|
+---+------+------+-----+
|  1|maheer|  2000|  500|
|  2|  wafa|  4000| 1000|
+---+------+------+-----+

In [6]:
# Define a UDF to calculate total pay
@udf(returnType=IntegerType())
def totalPay(s, b):
    return s + b

In [9]:
#UDF SELECT
df.select('*',totalPay(col('salary'), col('bonus')).alias('totalPay')).show()

+---+------+------+-----+--------+
| id|  name|salary|bonus|totalPay|
+---+------+------+-----+--------+
|  1|maheer|  2000|  500|    2500|
|  2|  wafa|  4000| 1000|    5000|
+---+------+------+-----+--------+

In [ ]:
#RDD