In [1]:
import pyspark

In [2]:
import pandas as pd

In [5]:
pd.read_csv(r"E:\CSV File\pyspark1.csv")

     name  age
0  chandu   23
1   gnana   24
2  girish   19
3   rahul   30

In [6]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [9]:
spark

In [10]:
df_spark = spark.read.csv(r"E:\CSV File\pyspark2.csv")

In [11]:
df_spark

DataFrame[_c0: string, _c1: string]

In [12]:
df_spark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| jhon| 23|
|tyson| 45|
| jack| 12|
|jerry| 48|
|  tom| 50|
+-----+---+

In [13]:
spark.read.option('header','true').csv(r"E:\CSV File\pyspark2.csv")

DataFrame[Name: string, Age: string]

In [14]:
spark.read.option('header','true').csv(r"E:\CSV File\pyspark2.csv").show()

+-----+---+
| Name|Age|
+-----+---+
| jhon| 23|
|tyson| 45|
| jack| 12|
|jerry| 48|
|  tom| 50|
+-----+---+

In [15]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_spark.head(2)

[Row(_c0='Name', _c1='Age'), Row(_c0='jhon', _c1='23')]

Tells About Headers

In [19]:
df_spark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)